/* CSS */

@import url('https://fonts.googleapis.com/css?family=Coustard:900|Sorts+Mill+Goudy');


.grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    background-color: #fff;
}

.box {
    background-color: #444;
    color: #fff;
    padding: 29px;
    font-size: 150%;
    grid-template-rows: repeat(auto-fill, minmax(3220000%, 1fr));
}

h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Sorts Mill Goudy', serif;
}

/* SideNavbar*/
.mySidenav .sn {
    right: -70px;
    transition: 0.3s;
    padding: 10px;
    width: 100px;
    text-decoration: none;
    position: fixed;
    color: white;
    border-radius: 5px 0px 0px 5px;
    z-index: 5;
    font-size: 120%;
}

.mySidenav .sn:hover {
    right: 0;
}

#twitter {
    top: 250px;
    background-color: #4E4E4E;
}

#github {
    top: 300px;
    background-color: #4E4E4E;
}

#codepen {
    top: 350px;
    background-color: #4E4E4E;
}

#linkedin {
    top: 400px;
    background-color: #4E4E4E;
}
/* Hover Links
a {
	color: red;
  line-height:1.5;
  text-decoration:none;
  position: relative;
}

a:after{
	content: "";
  width: 0;
  position: absolute;
  left: 0;
  top: 100%;
	border-top:.05em solid currentColor;
  transition: all .5s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}


a:hover:after{
	width:100%;
}
*/
/* /Hover Links*/

.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.roww {
      padding: 30px;
      /*border: 1px solid #fff;*/
    }
.roww {
      margin: 100px auto;
    }

.item1 {
    font-size: 4vw;
    margin-top: 400px;
    padding-right: 400px;
    float:left;
    line-height: 1.5;
    /*justify-self: left;*/
}
.item2 {
    font-size: 5vw;
    margin-top: 400px;
    padding-right: 200px;
    line-height: 1.5;
    /*justify-self: left;*/
}
.item3 {
    font-size: 6vw;
    padding-right: 30px;
    margin-bottom: 250px;
    line-height: 1.5;
    /*justify-self: left;*/
}

.hero {
    background: url(images/hero5.jpg);
    background-size: cover, cover;
    background-position: center, center;
    min-height: 1000px;
    background-attachment: fixed;
}

.ero-after {
    background: url(images/hero5.jpg);
    background-size: cover, cover;
    background-position: center, center;
    min-height: 1000px;
    background-attachment: fixed;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #000000, #ffffff);
    opacity: 0.2;

    min-height: 1000px;
    z-index: 0;
}

@media screen and (max-width: 610px){
  .ero-after {
    min-height: 470px;
  }
  .right-align {
    text-align: left;
  }
  .parallax1 {
    min-height: 50px;
  }
}

#title {
    font-family: 'Coustard', serif;
    position: absolute;
    /*Keep it floating*/
    background-color: transparent;
    z-index: 1;
    color: #f7f7f7;
    background-size: cover, cover;
  	background-position: center, center;
  	height: 100vh;
  	width: 100%;
  	display: flex;
  	justify-content: left;
  	align-items: center;
  }

/* NAVBAR */

/* nav hover effect */

.flip {
  text-transform: uppercase;
  font-weight: 500;
}
.flip * {

  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.flip li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
}
.flip a {
  padding: 0.3em 0;
  position: relative;

  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.flip a:before,
.flip a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.flip a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #ADB9D1;
}
.flip a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  white-space: nowrap;
}
.flip li:hover a,
.flip .current a {
  transform: translateY(100%);
}
/* nav hover effect */

.section1,
.section3,
.section5 {
    background-color: rgb(255, 112, 112); //#9191E9;
    height: 500px;
    width: 100%;

}

.section2,
.section4 {
    background-color: #eaeaea;
    height: 500px;
    width: 100%;

}

.hide {
    display: none !important;

}

/* Navbar */

.aa-nav {
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    overflow: hidden;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, .15);
    transition: 0.6s;
    z-index: 3;
    font-family: 'Coustard', serif;
}

.back1 {
    color: red;
    background: #f7f7f7;
}
.back2 {
    color: aliceblue;
    background: transparent;
}
.font-color1 {
    color: #212121;
    transition: 0.6s;
}
.font-color2 {
    color: #f7f7f7;
    transition: 0.6s;
}

/* ./Navbar */

/* Logo image */

.aa-nav-icon {
    position: absolute;
    height: 35px;
    cursor: pointer;
    top: 14px;
    left: 20px;
    display: inline;
}

/* ./Logo image */

/* Nav items */

.aa-nav-items {
    margin: 0;
    padding-right: 35px;
    line-height: 65px;
    list-style: none;
}

.aa-nav-items > li {
    display: inline-block;
    padding-left: 30px;
}

.aa-nav-items > li > a {
    text-decoration:none;
    font-size: 15px;
    /*Nav Bar Text*/
}

.aa-nav-items > li > a:hover {
    color: #ADB9D1;
}

/* ./Nav items */

/* Hamburger */

.aa-icon-bar {
    background-color: rgb(71, 71, 71);
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 4px;
    transition: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
}

.aa-hamburger-menu {
    cursor: pointer; //position: absolute;
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 999; //display: inline;
    display: none;
}

.aa-hamburger-menu:hover > .aa-icon-bar {
    background-color: #ADB9D1;
}

.aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(2) {
    opacity: 0;
    transform: translateX(-10px);
}

.aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

/* ./Hamburger */

.class1 {
    backface-visibility: hidden;
}
/* Mobile Overlay */

.aa-mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    overflow: auto;
    z-index: 99;
    display: none;
}

.aa-mobile-nav-items {
    padding: 0;
    margin: 65px 0px;
    text-align: center;
    list-style: none;
}

.aa-mobile-nav-items > li {
    font-family: 'Coustard', serif;
    display: block;
    padding-top: 30px;
    color: #212121;
}

.aa-mobile-nav-items > li > a {
    text-decoration: none;
    font-size: 25px;
    color: #212121;
}

.aa-mobile-nav-items > li > a:hover {
    color: #ADB9D1;
}

/* ./Mobile Overlay */

/* Media queries */

@media screen and (max-width: 768px) {
    .aa-hamburger-menu {
        display: block;
    }

    .aa-nav-items {
        display: none;
    }
}
/* ./Media queries */

/* /NAVBAR */

/* Image Hover effect*/
figure.snip1091 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  display: inline-block;
  margin: 10px 5px;
  min-width: 220px;
  max-width: 310px;
  max-height: 310px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 8px 10px #888888;
}

figure.snip1091 * {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.snip1091 img {
  opacity: 0.25;
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

figure.snip1091 figcaption {
  position: absolute;
  top: 50%;
  left: 30px;
  right: 30px;
  -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
  transform: rotate(0deg) translateY(-50%) scale(1);
  -webkit-transform-origin: center 0;
  transform-origin: center 0;
}

figure.snip1091 figcaption h5 {
  top: 50%;
  letter-spacing: -1px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
  font-weight: 400;
}

figure.snip1091 figcaption h5 span {
  font-weight: 800;
}

figure.snip1091 figcaption:before,
figure.snip1091 figcaption:after {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.snip1091 figcaption:before {
  left: 0;
  top: 0;
}

figure.snip1091 figcaption:after {
  bottom: 0;
  right: 0;
}

figure.snip1091.navy {
  background: #332f28;
}

figure.snip1091 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

figure.snip1091:hover img,
figure.snip1091.hover img {
  opacity: 1;
}

figure.snip1091:hover figcaption,
figure.snip1091.hover figcaption {
  -webkit-transform: rotate(-45deg) translateY(-50%) scale(0.9);
  transform: rotate(-45deg) translateY(-50%) scale(0.9);
}

figure.snip1091:hover figcaption:before,
figure.snip1091.hover figcaption:before,
figure.snip1091:hover figcaption:after,
figure.snip1091.hover figcaption:after {
  width: 200%;
}

/* /Image Hover*/

.link:hover {
  color: #ADB9D1;
}
.parallax-title {
    font-family: 'Coustard', serif;
    font-size: 4vw;
    background-color: transparent;
    z-index: 1;
    color: #f7f7f7;
    margin-left: 29%;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
}
/* Overriding tab color*/
.tabs .indicator{
  background-color: #ADB9D1;
  color: black;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
  background: transparent;
}
/* Body text */
.pbody {
  font-size: 130%;
  line-height: 1.7;
}

.parallax1 {
  background-size: cover, cover;
  background-position: center, center;
}

.parallax2 {
  background-size: cover, cover;
  background-position: center, center;
}

#tab1 {
  font-weight:500;
}
.skills ul li {
    display: inline;
    font-size: 5em;
    margin: 0.3em;
}
.social-bar {
  margin: 0;
  line-height: 65px;
  list-style: none;
  color: black;
}
.social-bar > li {
  color: black;
  display: inline-block;
  padding-left: 5%;
}
.social-bar > li > a {
    color: #DADADA;
    font-size: 300%;
}
.social-bar > li > a:hover {
    color: #4E4E4E;
}
